{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}
{% load humanize %}


{% block body %}
    <div class="header-res">Flashcards
</div>
{% include "flashcards/navigation.html" %}
    <a href="{% url 'resources:flashcards:card-create' %}" role="button">
        ✨ Create New Card
    </a>
<!--{% for card in glossarycards_list %}-->
<!--    {% ifchanged %}-->
<!--        <h3>🗃 {{ card.box | ordinal }} Box</h3>-->
<!--    {% endifchanged %}-->
<!--    {% include "flashcards/card.html" %}-->
<!--{% endfor %}-->

{% endblock %}