asgiref==3.5.2
atomicwrites==1.4.1
attrs==22.1.0
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
colorama==0.4.5
Django==4.0.6
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-etc==1.3.1
django-filter==22.1
django-hitcount==1.3.5
django-taggit==3.0.0
django-tinymce==3.4.0
fontawesomefree==6.1.1
httpcats==1.1.1
idna==3.3
iniconfig==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.29
mysqlclient==2.1.1
packaging==21.3
Paginator==0.5.1
Pillow==9.2.0
pluggy==1.0.0
protobuf==4.21.3
py==1.11.0
PyMySQL==1.0.2
pyparsing==3.0.9
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
urllib3==1.26.11
utils==1.0.1
