*{
margin: 0;
padding:0;
box-sizing:border;
background-color:#000000;
color:white;
}

/*CONTAINER FOR ALL CONTENT ON PAGE*/
.dashboard-container{
    width:80vw;
    height:70vh;
}

.header {

    text-align:center;
    width:500px;
    margin: 0 auto;
    font-family: 'Barlow';
    font-size: 25px;
    margin-top:50px;

    /*text-decoration: underline;*/
    /*text-decoration-color: #F54996;*/

}