.header {
    position: absolute;
    width:80%;
    right:0;
    font-family: 'Barlow';
    font-size: 16px;
    text-align:center;
    margin-top:100px;
    /*text-decoration: underline;*/
    /*text-decoration-color: #F54996;*/

}