{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}


{% block title %} Resources {% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Resources</li>
  </ol>
</nav>
<div class="header-res">
    resources
</div>
<section class="container text-center ">

 <hr> <br>
  <div class="row">
    <div class="col">
      <a href="/resources/mynotes">
        <div class="card">
          <img class="card-img-top" src="/static/images/my-notes.png" alt="data image">
          <div class="card-body"style="color:white">
            <h5 class="card-title ">
              Personal Notes
            </h5>
            Just For You
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/resources/programs">
        <div class="card">
          <img class="card-img-top" src="/static/images/class-notes.png" alt="Notes image">
          <div class="card-body"style="color:white">
            <h5 class="card-title ">
              Class Resources
            </h5>
            For Everyone
          </div>
        </div>
      </a>
    </div>
    </div>

</section>
{% endblock %}


