{% extends 'resources/base-res.html' %}}
{% load crispy_forms_tags %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/resources" style="color:#F54996">Resources</a></li>
      <li class="breadcrumb-item"><a href="/resources/programs"style="color:#F54996">Pathways</a></li>
      <li class="breadcrumb-item"><a href="/resources/admin-dash"style="color:#F54996">Admin Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Here</li>
  </ol>
</nav>
<div class="header-res">
    submit new resource pack
</div>


<div class="container">
    {% if user.is_staff %}
    <form method="POST">
        <fieldset class="form-group">
        </fieldset>
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group">
            <button href="/resources/mynotes" class="btn btn-dark" type="submit">
                Create
            </button>
        </div>
    </form>
    {% else %}
    You may not be authorised to access this page. Please check your details or contact your site admin and try again.
    {% endif%}
</div>
    </div>
</div>
{% endblock %}