{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}


{% block title %} Resources {% endblock %}


{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/resources"style="color:#F54996">Resources</a></li>
    <li class="breadcrumb-item"><a href="/resources/mynotes"style="color:#F54996">My Notes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Here</li>
  </ol>
</nav>

<section class='text-center container'>
    <div class="col text-center">
<a href="{% url 'resources:notes-update' notes.id %}" class="btn btn-dark">Edit your note</a>
</div>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h1>{{notes.title}}</h1>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{notes.content}}
            <div class="col text-center">
            {% if notes.link %}
<a href="{{notes.link}}" class="btn btn-dark" target="_blank" rel="noopener noreferrer">External Resource Link</a>
</div>
            {% endif %}

            </p>
            <hr>
        </div>

    </div>

</section>
{% endblock %}