{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}


{% block title %} Resources {% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">CFG Materials</li>
  </ol>
</nav>
<div class="header-res">
    Pathways
</div>
<section class="container text-center ">

 <hr> <br>
  <div class="row">
    <div class="col">
      <a href="/resources/program/data">
        <div class="card">
          <img class="card-img-top" src="/static/images/data.png" alt="data image">
          <div class="card-body">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            XXXXXXX
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/resources/program/FLST">
        <div class="card">
          <img class="card-img-top" src="/static/images/full-stack.png" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            XXXXXX
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/resources/program/SFEN">
        <div class="card">
          <img class="card-img-top" src="/static/images/software.png" alt="software image">
          <div class="card-body">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            XXXXXX
          </div>
        </div>
      </a>
    </div></div>

{% endblock %}

</section>
