{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}
<div class="header-res">Course Materials
</div>


<body>
<section class="container text-center">




    <form action="" method="post">
        {% csrf_token %}
        {{search|crispy}}
        <br>
        <input class="btn btn-dark" type="submit" value="Submit">
    </form><br>




{% for lesson in lessons %}
<a href="{% url 'resources:lesson-detail' lesson.id %}" >
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="#" alt="">

                    </div>
                    <div class="col-md-7">
                        <h3 class="p-0 m-0">{{lesson.lesson}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{lesson.topics}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">Week {{lesson.week}}</h6>

                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>

    {% endfor %}

</section>

    {% endblock %}



</body>


</html>