{% extends 'dashboard/base.html' %}}

{% block title %} Study Room │ Resources {% endblock %}


{% block header %}
{{m}}
{% endblock %}

<head>
    <style type="texr/css">
        .body a{
        color: #000000
        }

    </style>
</head>


<body>
{% block body %}
Programs:
<ul>

    {% for item in list %}

    <a href="/resources/{{item.pathway}}" >{{item.pathway}}</a>
    <br>
    {% endfor %}

</ul>

<a href="/resources/submit" class="button" >-Would you like to submit a resource?-</a>
{% endblock %}



</body>


</html>