{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}



{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/resources">Resources</a></li>
    <li class="breadcrumb-item"><a href="/resources/programs">Programs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Here</li>
  </ol>
</nav>
<div class="header-res">Course Materials
</div>


<body>


<section class="container text-center">

{% for lesson in lessons %}
<a href="{% url 'resources:lesson-detail' lesson.id %}" >
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="#" alt="">

                    </div>
                    <div class="col-md-7">
                        <h5 class="p-0 m-0">{{lesson.pathway}}</h5>
                        <h3 class="p-0 m-0">{{lesson.lesson}}</h3>
                        <b>
                            <u>
                                <h5 class="p-0 m-0">{{lesson.topics}}</h5>
                            </u>
                        </b>
                        <h6 class="p-0 m-1">Week {{lesson.week}}</h6>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br>

    {% endfor %}
    {% if user.is_staff %}
    <a href="admin-dash" class="btn btn-light btn-lg active" role="button" aria-pressed="true">ADMIN DASHBOARD</a>

{% endif %}
</section>


    {% endblock %}



</body>


</html>