{% extends 'resources/base-res.html' %}}
{% load crispy_forms_tags %}

{% block body %}
<div class="header-res">
    submit new lesson
</div>

<!--<div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--<form class="form-group form-horizontal col-lg-2 col-lg-8 " align="center" action="/resources/submit-thanks" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->

<!--    {{form|crispy}}-->
<!--        <br>-->

<!--</form>-->
<!--</div>-->

<!--</div>-->

<div class="container">
    <form method="POST">
        <fieldset class="form-group">
        </fieldset>
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group">
            <button href="/resources/mynotes" class="btn btn-light" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
    </div>
</div>
{% endblock %}