{% extends 'resources/base-res.html' %}}
{% load crispy_forms_tags %}

{% block body %}
<div class="header-res">
    submit new resource pack
</div>


<div class="container">
    <form method="POST">
        <fieldset class="form-group">
        </fieldset>
        {% csrf_token %}
        {{form|crispy}}
        <div class="form-group">
            <button href="/resources/mynotes" class="btn btn-light" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
    </div>
</div>
{% endblock %}