{% extends 'dashboard/base.html' %}
{% load static %}
{%block css%}<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">{% endblock css%}

{% block body %}
<div class="dashboard-container">
    {% if user.get_short_name %}
    <h1 class="header">Welcome back, {{ user.get_short_name }}!</h1>
    {% else %}
    <h1 class="header">Welcome back, {{ user.get_username }}!</h1>
    {% endif %}
    <div class="card-container">
        <div class="dashboard-card"></div>
        <div class="dashboard-card"></div>
        <div class="dashboard-card"></div>
    </div>
</div>

{% endblock body %}