{% extends 'dashboard/base.html' %}
{% load static %}
{%block css%}<link rel="stylesheet" type="text/css" href="{% static 'css/my_posts.css' %}">{% endblock css%}

{% block body %}
<!--Navigation-->
<div class="navigate">
    <span><a href="/forum">All Discussions</a></span>
</div>
<h1>My Posts</h1>
<!--The amount of views and/or likes-->
<!--Maybe a preview of the paragraph ? -->
<body>
    <!--Posts table-->
    <div class="posts-table">
        <div class="table-head">
            <div class="Topic">Topic</div>
            <div class="comments">Comments</div>
            <div class="started">Started</div>
        </div>
        <span class="line"></span>
        {% if post_list.all %}
            {% for post in posts %}

            <div class="table-row">
                <div class="Topic">
                <a href="{{post.slug}}"><p class="post-title">{{post.title}}</p></a>
                </div>
                <div class="comments">
                    22
                </div>
                <div class="started">
                    29 June 2022
                </div>
                <div class="delete">
                    <a href="my-posts/delete/{{post.id}}" onclick="return confirm('Are you sure you want to delete this? This step is irreversible!')"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            <span class="line"></span>
            {% endfor %}
        {% else %}
        <p class="m-5" style="text-align:center;">You have no Posts! Create one <a href="/forum/create-post" style="color:#F54996; text-decoration:underline;" >here</a></p>
        {% endif %}
    </div>

    <div style="text-align:center; margin-top:20px; ">
    {% if posts.has_previous%}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
     {%endif %}
    Page {{posts.number}} of {{posts.paginator.num_pages}}
    {% if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last &raquo</a>
     {%endif %}
    </div>
</body>
{% endblock body %}