*{
margin: 0;
padding:0;
box-sizing:border;

}

.discussion-details, .comment-details{
display:flex;
align-items:flex-start;

}
.discussion-content{
font-size:15px;
}

.title{
font-size:25px;
font-weight:bold;
}

.avatar{
border-radius:100%;
}

.empty-comment-details p{
color:#F54996;
text-align:center;
}

.username-content, .username-comment-content{
display:flex;
flex-direction:column;
}

.username{
color:#F54996;
font-weight:bold;
}

.username-content{
font-size:20px;
margin-left:10px;
}

.comments-container{
height:350px;
margin-bottom:10px;
overflow:auto;
}

.comment-details{
margin-left:70px;
}

.like-button{
text-align:right;
padding:10px;
}
.fa-thumbs-up:hover{
color:#F54996;
}

.username-comment-content{
margin-left:10px;
font-size:15px;
}

/*FOR THE TEXT EDITOR*/
.ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
min-height:200px;
line-height:14px;
}

.ck.ck-toolbar.ck-toolbar_grouping{
background-color:#F54996;

}

#submit{
color:white;
background-color:#F54996;
border:none;
float:right;
margin-top:10px;
padding:5px;
margin-bottom:50px;
}

#submit:hover{
color:#F54996;
}
