*{
    margin: 0;
    padding:0;
    box-sizing:border;
    background-color:#000000;
    color:white;
}

/*CONTAINER FOR ALL CONTENT ON PAGE*/
.profile-container{
    width:80vw;
    margin-top:20px;
}

.title{
    text-align:center;
    margin-bottom:40px;
}

.profile-info{
    display:flex;
    justify-content:center;
    max-width:80%;
    margin:auto;
    margin-bottom:20px;
}

.right-side{
    border:2px solid white;
    border-radius:10px;
    padding:10px;
    box-shadow: 5px 6px grey;
    width:70%;
    height: 400px;

}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
}

.form-group input{
    width:450px;
    padding:10px;
    border:1px solid white;
    border-radius:10px;
}

.email{
    color:#828282;
    background-color:#020202;
    font-style:italic;
}

.avatar-title{
    margin-top:20px;
}

.avatar-text{
    padding:10px;
    border:1px solid white;
    border-radius:10px;
    width:450px;
    display:flex;
    align-items:center;
}

input[type="file"] {
    color:grey;
}

.save-all-btn{
    border:1px solid #F54996;
    background-color:#F54996;
    padding:15px 40px;
    margin-top:10px;
    border-radius:10px;
    width:450px;
}

/*RIGHT SIDE*/
.preview-profile{
    text-align:center;
    margin-top:70px;
}

.avatar{
    border-radius:90px;
}

/* SMALLER SCREENS */


/* LARGER SCREENs */