{% extends 'resources/base-res.html' %}}
{% load bootstrap5 %}
{% load static %}


{% block title %} Resources | Programs{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" ><a href="/resources"style="color:#F54996">Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Here</li>
  </ol>
</nav>
<div class="header-res">
    Programs
</div>
<section class="container text-center ">

 <hr> <br>
  <div class="row">
      {% if request.user.profile.stream == 'Data' %}
        <div class="col">
      <a href="/resources/programs/Foundation">
        <div class="card">
          <img class="card-img-top" src="/static/images/foundation.png" alt="data image">
          <div class="card-body" style="color:white">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            Course Desc
          </div>
        </div>
      </a>
    </div>
{% else %}
    <div class="col">
      <a href="/resources/programs/Data">
        <div class="card">
          <img class="card-img-top" src="/static/images/data.png" alt="data image">
          <div class="card-body" style="color:white">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            Course Desc
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/resources/programs/Full-Stack">
        <div class="card">
          <img class="card-img-top" src="/static/images/full-stack.png" alt="full stack image">
          <div class="card-body" style="color:white">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            Course Desc
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="/resources/programs/Software">
        <div class="card">
          <img class="card-img-top" src="/static/images/software.png" alt="software image">
          <div class="card-body"style="color:white">
            <h5 class="card-title ">
              Resource Hub
            </h5>
            Course Desc
          </div>
        </div>
      </a>
    </div></div>

{% endif %}
<br><br>

    {% if user.is_staff %}
    <a href="admin-dash" class="btn btn-dark" role="button" aria-pressed="true">ADMIN DASHBOARD</a>

{% endif %}
    {% endblock %}

</section>
